html, body, #root {
  height: 100%;
}
/*Navbar*/
.navbar {
  height: 8%;
  background-color: #678983;
  justify-content: center;
}
.navbar-brand {
  font-size: 1.4em;
  font-weight: bold;
}

/* Main */
.row {
  margin: 0;
  padding: 0;
  height: 92%;
  background-color: #F0E9D2;
}
.start-screen {
  background-color: #E6DDC4;
  text-align: center;
}
.center {
  margin-top: 40%;
  padding-bottom: 40%;
}
.btn {
  display: inline-block;
}

/* Side Frame */
.side-frame {
  background-color: #F0E9D2;
  display: block;
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* Game */
.game {
  margin: 0;
  height: fit-content;
  background-color: #181D31;
}

.board {
  width: 90%;
  height: 100; /*= width for a square aspect ratio */
  margin: 1% 0;
  border-radius: 15px;
  background-color: #181D31;
}

.tile {
  float: left;
  position: relative;
  width: 30%;
  padding-bottom: 30%; /* = width for a 1:1 aspect ratio */
  margin: 1.66%;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 15px;
  background-color: white;
}

img {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 3%;
}